@keyframes rollAnim {
    0% {
        background-position-x: right;
    }
    100% {
        background-position-x: left;
    }
}

.parallax2 {
    /* The image used */
    background-image: url("../../../images/bg-2.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: fill;

    animation: 25s ease-in 0s infinite rollAnim;
    overflow: hidden;
}
.testHeading {
    text-align: center;
    justify-content: center;
    color: white;
    margin: 0% !important;
}
.testHeading .smallBorder {
    border-bottom: 1px solid #005453;
    padding-top: 2%;
    width: 120px;
}
.testHeading span {
    color: #005453;
}

/* Test Box */
.testBox {
    background-color: rgba(0, 0, 0, 0.322);
    padding: 6% 12%;
}
.testBox svg {
    color: #005453;
    transform: rotateZ(180deg);
    font-size: 35px;
}
.testBox .imgRow img {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    transform: translateY(10px);
}
.imgRow p {
    position: absolute;
    transform: translateY(20px) translateX(60px);
}
@media screen and (max-width: 500px) {
    .imgRow img {
        transform: translateY(-15px) !important;
    }
    .imgRow p {
        transform: translateY(0px) translateX(60px);
    }
}
@media screen and (max-width: 400px) {
    .imgRow img {
        transform: translateY(-10px) !important;
    }
    .imgRow p {
        transform: translateY(0px) translateX(60px);
    }
}
@media screen and (max-width: 300px) {
    .imgRow img {
        transform: translateY(-15px) !important;
    }
    .imgRow p {
        transform: translateY(0px) translateX(60px);
    }
}

/* Partner */
.partnerSlider {
    background-color: black;
    padding: 4%;
    overflow: hidden;
}
.partners ul {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    overflow: hidden;
}
.partners ul li {
    list-style: none;
    font-size: 30px;
    color: white;
    font-weight: 900;
}